{% extends 'bootstrap/base.html' %}

{% block head %}
	{{ super() }}
	<title>	
		{% block title %}
			Flask | 
		{% endblock title %}
	</title>
	<link rel="stylesheet" href={{ url_for('static', filename='css/main.css') }}>
{% endblock head %}

{% block body %}
	{% block navbar %}
		{% include 'navbar.html' %}
	{% endblock navbar %}
	
	{% for message in get_flashed_messages() %}
		<div class="alert alert-success alert-dismissible">
			<submit data-dismiss="alert" type="button" class="close">&times</submit>
			{{ message }}
		</div>
	{% endfor %}

	{% block content %}
	{% endblock content %}

	{% block scripts %}
		{{ super() }}
	{% endblock scripts %}
{% endblock body %}
